<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /_/
    Options -Indexes
    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    # the capture group thats used  in the condistion 
    # portion of the rewrote Rewrite rule, and use whats 
    # captured as the value to redirect to
    # essentialy whatever page they requested, or route rather, 
    # send it to that page but wothout th trailing slash on it
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
    </IfModule>